.landing-page__quote {
    background: $dark-grey;
    margin-top: 100px;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
    .quote {
        width: 80%;
        position: relative;
        display: flex;
        padding-left: 10%;
        &--image-wrapper {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            @include mQ($phone) {
                display: none;
            }
        }
        &--image {
            width: 100%;
            height: 100%;
            background: url(./img/graphics/Monk.jpg);
            background-size: 200px;
            background-repeat: no-repeat;
            background-position: 50% 100%;

        }
        &--text {
            box-sizing: border-box;
            font-style: italic;
            font-size: 20px;
            font-family: "Roboto-Light";
            color: white;
            width: 60%;
            padding: 10px;
            line-height: 28px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include mQ($tablet_portrait) {
                font-size: 20px;
            }
            @include mQ($phone) {
                width: 100%;
            }
        }
        &--author {
            padding: 10px 20px;
        }
        @include mQ($tablet_portrait) {
            width: 90%;
        }
        @include mQ($phone) {
            padding: 0;
        }
    }
}