$construction_header: #CFD8DC;

$subcategories: #577590;
$primary-blue: #577590;
$black: #212121;
$grey: #BDBDBD;
$lighten-grey: lighten($color: $grey, $amount: 15);
$light-grey: #f9f9f9;
$dark-grey: #393E41;
// $dark-grey-title-background: rgba(57,62,65,0.6);
$dark-grey-title-background: $black;
$text: #393E41;
$red: #EF5350;

// category colors
$js: #FFF9C4;
$web: #BBDEFB;
$prod: #D1C4E9;
$frontops: #B2DFDB;