.sidebar {
  position: absolute;
  top: 0;
  &__menu {
    background: $lighten-grey;
    transition: none !important;
    @include mQ($phone) {
      transition: all 0.5s ease 0s !important;
    }
  }
  .sidebar__wrapper {
    overflow: visible !important;
  }

  // -- Burger Ico on mobile --
  &__burger {
    height: 0 !important;
    width: 100%;
    cursor: pointer;
    &::after {
      transition: 0.5s;
      transform: translateX(0px);
      @include mQ($phone) {
        border-radius: 50%;
        box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.2);
      }
    }
    &::after {
        content: "";
        background-repeat: no-repeat;
        background-size: 45px auto;
        background-position: center center;
        background-image: url("./img/icons/sidebar/burger.svg");
        position: absolute;
        right: -70px;
        width: 70px;
        height: 100%;
        @include center;
        background-color: $lighten-grey;
      }
    &.open {
      background-color: $lighten-grey;
      &::after {
        transition: 0.5s;
        background-color: $lighten-grey;
        transform: translateX(-70px);
        @include mQ($phone) {
          border-radius: 0;
          box-shadow: initial;
          background-color: $lighten-grey;
        }
      }
    }
    @include mQ($phone) {
      height: 100% !important;
    }
  }

  // -- Sidebar items --
  .sidebar__items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.5);
    .bm-item {
      height: 100%;
      width: 70px;
      display: flex !important;
      align-items: flex-end;
      justify-content: center;
      color: $black;
      position: relative;
      font-size: 12px;
      color: $lighten-grey;
      &:first-child {
        @include mQ($phone) {
            background-color: white;
            &::after {
              background-color: white;
              top: 0;
              height: 70px;
              background-size: 20px;
            }
            &.open {
              &::after {
                background-color: $lighten-grey;
                height: 100%;
              } 
            }
        }
      }
      &:hover {
        // background-color: $grey;
        color: $red;
        // border-right: 5px solid $red;
        box-sizing: border-box;
        @include mQ($phone) {
          background-color: white;
        }
      }
      // &.disabled {
      //   color: $lighten-grey;
      // }
      &.active {
        font-family: "Roboto-Bold";
        color: $red;
        border-right: 5px solid $red;
        box-sizing: border-box;
      }
      @include mQ($phone) {
        color: $grey;
      }
    }
    @include mQ($phone) {
      box-shadow: none;
    }
  }
}

// -- SIDEBAR ICONS -- //

@mixin sidebarIcons($category, $image) {
  a[data-link=#{$category}] {
    background-image: url("./img/icons/sidebar/"+$image);
    background-repeat: no-repeat;
    background-size: 35px auto;
    background-position: center center;
  }
}

.sidebar {
  @include sidebarIcons('Main', 'home.svg');
  @include sidebarIcons('News', 'news.svg');
  @include sidebarIcons('Show', 'show.svg');
  @include sidebarIcons('JS', 'js.svg');
  @include sidebarIcons('Web', 'web.svg');
  @include sidebarIcons('Voice', 'voice.svg');
  @include sidebarIcons('FrontOps', 'frontops.svg');
  @include sidebarIcons('API', 'api.svg');
  @include sidebarIcons('Prod', 'prod.svg');
}