.category-header .header__posts--toolbox {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .title {
        color: white;
        font-size: 75px;
        font-family: "Roboto-Bold";
        letter-spacing: 1px;
        background-color: #212121;
        padding: 10px 40px;
        @include mQ($phone) {
            font-size: 50px;
        }

    }
    .header__posts__background::after {
        bottom: -50px;
        left: 10%;
    }
}
.category-header {
    &.js {
        .header__posts--toolbox {
            background-image: url(./img/graphics/tools1Big.jpg);
        }
    }
    &.web {
        .header__posts--toolbox {
            background-image: url(./img/graphics/tools2Big.jpg);
        }
    }
}

.toolbox {
    margin-left: 10% !important;
    &__types {
        display: flex;
        @include mQ($portrait) {
            flex-direction: column;
        }
        &--left {
            width: 40%;
            @include mQ($portrait) {
                width: 100%;
            }
        }
        &--right {
            width: 40%;
            @include mQ($portrait) {
                width: 100%;
            }
        }
    }
    &__list {
        width: 100%;
        margin-top: 30px;
        @include mQ($portrait) {
            width: 80%;
        }
        @include mQ($phone) {
            width: 90%;
        }
        &--type {
            font-weight: 800;
            @include mQ($phone) {
                width: 90%;
                font-size: 28px;
            }
        }
        &--toggle {
            cursor: pointer;
        }
        &--content {
            .item {
                margin-top: 5%;
                margin-right: 20px;
                background: $light-grey;
                padding: 10px;
                box-sizing: border-box;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
                &--data {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                }
                &--name {
                    font-size: 26px;
                    letter-spacing: 1px;
                    font-family: 'Roboto-Medium';
                }
                &--links {
                    img {
                        height: 20px;
                        margin: 0 5px;
                        transition: 0.1s;
                        &:hover {
                            transition: 0.1s;
                            transform: scale(1.1);
                        }
                    }
                }
                &--desc {
                    font-size: 14px;
                    line-height: 20px;
                    color: $dark-grey;
                }
                &:first-child {
                    margin-top: 10%;
                }
            }
        }
    }
    @include mQ($phone) {
        margin-left: 0% !important;
    }
}